# Build outputs
**/target/
**/build/
**/.idea/
**/.vscode/
**/*.iml
**/*.class
**/out/
**/.nuxt/

# Node
**/node_modules/
**/dist/
**/.vite/
**/package-lock.json

# OS
**/Thumbs.db
**/.DS_Store

# Logs
**/*.log

# Local env
**/.env.local
**/.env.*.local

# H2/Walrus
**/*.db
**/*.mv.db
**/*.trace.db

# IDE
**/.project
**/.classpath
**/.settings/
**/.factorypath
